.icon {
  fill: $color-creamy;
  height: 20px;
  transition: 0.3s fill;
  width: 20px;
}

.button {
  background-color: $color-white;
  border: 1px solid $color-creamy;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s border, 0.3s color, 0.3s background-color;

  &--round {
    border-radius: 50%;
    display: block;
  }

  &--primary {
    @include font-lato-bold;
    font-size: $fontSize-medium;
    letter-spacing: 1.39px;
    padding: 13px;
    text-transform: uppercase;

    &:hover {
      background-color: $color-primary-gray;
      border: 1px solid $color-primary-gray;
      color: $color-white;
    }
  }

  &--wishlist {
    > .icon {
      fill: $color-creamy;
    }

    &:hover,
    &.selected {
      border: 1px solid $color-primary-gray;

      & > .icon {
        fill: $color-primary-gray;
      }
    }
  }

  &--in-cart {
    background-color: $color-creamy;
  }
}
