$color-primary-gray: #444A59;
$color-light-gray: #808080;
$color-warm-white: #f8f8f8;
$color-white: #ffffff;
$color-creamy: #d9d9d9;
$color-blue: #358ED7;
$color-pink: #F54B5E;

$fontSize-tiny: 8px;
$fontSize-medium: 13px;
$fontSize-primary: 14px;
$fontSize-big: 20px;
$fontSize-small: 12px;
