$color-primary-gray: #444a59;
$color-light-gray: #808080;
$color-warm-white: #f8f8f8;
$color-white: #fff;
$color-creamy: #d9d9d9;
$color-blue: #358ed7;
$color-pink: #f54b5e;
$color-shadow: #00000060;

$fontSize-tiny: 8px;
$fontSize-semi-small: 10px;
$fontSize-small: 12px;
$fontSize-medium: 13px;
$fontSize-primary: 14px;
$fontSize-big: 20px;

$tabletWidthLimit: 1240px;
$mobileWidthLimit: 768px;
