@font-face {
  font-family: 'Lato-Bold';
  src: url('/static/font/Lato-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('/static/font/Lato-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato-Italic';
  font-style: normal;
  src: url('/static/font/Lato-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  font-style: normal;
  src: url('/static/font/Lato-Regular.ttf') format('ttf');
}
