
html {
  height: 100%;
}

body {
  @include font-lato-regular;
  background-color: $color-warm-white;
  color: $color-primary-gray;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  font-size: $fontSize-medium;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

h1,
p,
figure {
  font-weight: normal;
  margin: 0;
}

a,
a:hover,
a:visited {
  color: $color-primary-gray;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  border: 0;
}

header,
footer {
  align-items: center;
  background-color: $color-white;

  display: flex;
  flex-direction: row;
  height: 60px;

  text-transform: uppercase;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  margin: 30px 0 20px;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 40px;
  width: 100%;
}

.page-title {
  font-size: $fontSize-big;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-bag {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  position: relative;

  &__item {
    align-items: flex-end;
    display: flex;
    height: 25px;

    .icon {
      fill: $color-primary-gray;
      height: auto;
    }
  }

  &__price {
    font-size: $fontSize-small;
    line-height: 12px;
    margin-right: 5px;
  }

  &__count {
    margin-left: 10px;

    .icon {
      width: 17px;
    }
  }

  &__wishlist-count {
    margin-left: 10px;
  }
}

.footer__sidenote {
  @include font-lato-bold;
  letter-spacing: 1.37px;
}

.bag__item-counter {
  @include font-lato-bold;
  align-items: center;
  align-self: flex-start;
  background-color: $color-blue;

  border-radius: 50%;
  color: $color-white;

  display: flex;
  font-size: $fontSize-tiny;
  height: 13px;
  justify-content: center;
  margin-left: -1px;
  text-align: center;
  width: 13px;
}
