@mixin font-lato-regular {
  font-family: 'Lato-Regular', sans-serif;
}

@mixin font-lato-bold {
  font-family: 'Lato-Bold', sans-serif;
}

@mixin font-lato-bolditalic {
  font-family: 'Lato-BoldItalic', sans-serif;
}

@mixin font-lato-italic {
  font-family: 'Lato-Italic', sans-serif;
}

@mixin flex($size: 1, $h-alignment: flex-start, $v-alignment: flex-start, $self-align: auto, $flow: row nowrap) {
  align-content: $h-alignment;
  align-self: $self-align;
  flex: $size;
  flex-flow: $flow;
  justify-content: $v-alignment;
}

@mixin mobile {
  @media all and (max-width: #{$mobileWidthLimit}) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: #{$tabletWidthLimit}) and  (min-width: #{$mobileWidthLimit + 1px})  {
    @content;
  }
}
