.pagination {
  height: 45px;
  margin: 30px auto;
  text-align: center;

  &__list {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    height: 100%;
  }

  &__item {
    @include font-lato-bold;
    font-size: $fontSize-medium;
    height: 100%;
    letter-spacing: 1.39px;
    text-align: center;
    width: 45px;
  }

  &__link {
    align-items: center;
    color: $color-primary-gray;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    &.current {
      @include font-lato-bold;
      font-weight: 800;
      pointer-events: none;
    }

    &.break {
      pointer-events: none;
    }

    &:hover {
      text-decoration: underline;
    }

    .icon {
      fill: $color-primary-gray;
      width: 8px;
    }
  }
}
