.product-list {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0 -10px;

  &__item {
    @include flex(1 0 33.3333%);
    max-width: 33.3333%;
    padding: 10px;

    @include mobile {
      @include flex(100%);
      max-width: none;
    }

    @include tablet {
      @include flex(1 0 50%);
      max-width: 50%;
    }
  }
}

.product {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__image-wrapper {
    padding: 20px;
    position: relative;
    text-align: center;
  }

  &__image {
    height: auto;
    max-width: 100%;
  }

  &__details {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 10px 20px 20px;
    text-align: center;
  }

  &__title {
    @include font-lato-bold;
    font-size: $fontSize-primary;
    letter-spacing: 1.37px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $color-light-gray;
    font-size: $fontSize-small;
    letter-spacing: 0.43px;
    line-height: 19px;
    padding-bottom: 10px;
  }

  &__price {
    @include font-lato-bold;
    font-size: $fontSize-primary;
    letter-spacing: 2.33px;
    padding-bottom: 20px;

    &--strike {
      margin-right: 10px;
      text-decoration: line-through;
    }

    &--discounted {
      color: $color-pink;
    }
  }

  &__wishlist-button {
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
  }

  &__add-to-cart {
    margin-top: auto;
    width: 100%;
  }
}
