.product-collection {
  display: block;
  position: absolute;
  right: -1px;
  top: 61px;
  width: 300px;
  background-color: $color-white;
  border: 1px solid $color-creamy;
  z-index: 2;
  padding: 10px;
  box-shadow: 0 10px 10px #00000040;
  transition: .4s;

  @include mobile {
    right: 5px;
  }

  @include tablet {
    right: 10px;
  }

  &:hover {
    box-shadow: 0 10px 10px $color-shadow;
  }

  &__title {
    font-size: $fontSize-small;
    color: $color-primary-gray;
    margin-bottom: 10px;

    &__subtitle {
      @include font-lato-italic;
      margin-left: 5px;
      font-style: italic;
      text-transform: none;
      font-size: $fontSize-semi-small;
    }
  }
  &__items-holder {
    border: 1px solid $color-creamy;
    width: 100%;
    min-height: 70px;
    max-height: 350px;
    overflow-x: auto;

    @include mobile {
      max-height: 210px;
    }

    @include tablet {
      max-height: 280px;
    }

    &__item {
      width: 100%;
      height: 69px;
      opacity: .7;
      transition: .5s;
      display: flex;

      &:not(:last-child) {
        border-bottom: 1px solid $color-creamy;
      }

      &:hover {
        opacity: 1;
      }

      &__image-section {
        @include flex(0 0 69px)
      }
    }
  }

  .item-section {
    height: 69px;
    object-fit: cover;

    &__preview {
      padding: 5px;
      @include flex(0 0 69px);

      &__image {
        height: 59px;
        width: 59px;
      }
    }

    &__details {
      @include flex();
      margin: 5px;

      &__title {
        @include font-lato-regular;
        text-transform: none;
        cursor: default;
      }

      &__price,
      &__action-link {
        @include font-lato-bolditalic;
        text-transform: none;
        margin-top: 5px;
        font-weight: bold;
      }

      &__action-link,
      &__title {
        font-size: $fontSize-semi-small;
      }

      &__price {
        font-style: italic;
        font-size: $fontSize-small;
        cursor: default;
      }

      &__action-link {
        cursor: pointer;
        color: $color-pink;
        text-align: right;
        margin-right: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__close-icon {
    position: absolute;
    right: 9px;
    top: 9px;
    fill: $color-primary-gray;
    height: 13px;
    width: 13px;
    padding: 2px;
    transition: .3s;
    cursor: pointer;

    &:hover {
      fill: $color-dark-gray;
    }
  }
}
