.product-list {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0 -10px;

  &__item {
    padding: 10px;
    flex: 1 0 33.3333%;
    max-width: 33.3333%;
  }
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-white;

  &__image-wrapper {
    padding: 20px;
    position: relative;
    text-align: center;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__details {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 10px 20px 20px;
    text-align: center;
  }

  &__title {
    @include font-lato-bold;
    padding-bottom: 10px;
    font-size: $fontSize-primary;
    letter-spacing: 1.37px;
    text-transform: uppercase;
  }

  &__subtitle {
    padding-bottom: 10px;
    font-size: $fontSize-small;
    line-height: 19px;
    letter-spacing: 0.43px;
    color: $color-light-gray;
  }

  &__price {
    @include font-lato-bold;
    padding-bottom: 20px;
    font-size: $fontSize-primary;
    letter-spacing: 2.33px;

    &--strike {
      margin-right: 10px;
      text-decoration: line-through;
    }

    &--discounted {
      color: $color-pink;
    }
  }

  &__wishlist-button
  {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__add-to-cart {
    width: 100%;
    margin-top: 10px;
    margin-top: auto;
  }
}
